POSTGRES_DB=vetclinic
POSTGRES_USER=vetclinic
POSTGRES_PASSWORD=zmien_mnie_lokalnie

DB_HOST=db
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@vetclinic.com
PGADMIN_DEFAULT_PASSWORD=admin

MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM=no-reply@vetclinic.pl
MAIL_FROM_NAME=VetClinic
